/*
 * {{{ Global styles */
body {
  background-image:     url("bg_final50.jpg");
  font-family:          Palatino;
  font-size:            1em;
}

a:link {
  color:                #314E94;
  text-decoration:      none;
}
a:visited {
  color:                #382B3D;
  text-decoration:      none;
}
a:hover {
  text-decoration:      underline;
}

h1, h2 {
  font-size:            1.5em;
  font-variant:         small-caps;
  font-weight:          bold;
}
h2 {
  font-size:            1em;
}

p {
  text-align:           justify;
  text-indent:          1em;
}
/* }}} */
/*
 * {{{ DIV styles, in order of appearance */
div {
  background-color:     rgba(255,255,255,0.75);
  margin:               auto;
  text-align:           center;
}
.div-empty1, .div-empty2 {
  background-color:     transparent;
  height:               1em;
}
.div-empty2 {
  height:               2.5em;
}
.div-legend {
  padding:              3em;
  width:                50%;
}
.div-menu {
  font-size:            0.8em;
  font-variant:         small-caps;
  padding:              0.5em;
  width:                60%;
}
.div-content {
  padding:              1em;
  text-align:           left;
  width:                70%;
}
.div-copyright {
  font-size:            0.6em;
  padding:              1em;
  width:                80%;
}
/* }}} */
/*
 * {{{ DIV {legend,content} override styles, in order of appearance */
.div-legend > .span-legend-colour-block {
  display:              inline-block;
  width:                2em;
}
.div-legend > .span-legend-colour-block:after {
  content:              '.';
  visibility:           hidden;
}
.div-legend > h1, .div-legend > h2 {
  display:              inline;
  font-size:            2em;
  font-variant:         normal;
  font-weight:          normal;
}
.div-legend > h2 {
  font-size:            0.75em;
}

.div-content > .p-references {
  text-indent:          0em;
  font-size:            1em;
  font-variant:         small-caps;
}
/* }}} */

/*
 * vim:ts=2 sw=2 expandtab fenc=utf-8 foldmethod=marker nowrap tw=0
 */
